[submodule "modes/slime.git"]
	path = modes/slime.git
	url = git://github.com/nablaone/slime.git
[submodule "modes/magit.git"]
	path = modes/magit.git
	url = git://github.com/philjackson/magit.git
[submodule "modes/cucumber"]
	path = modes/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "modes/rspec"]
	path = modes/rspec
	url = git://github.com/pezra/rspec-mode.git
[submodule "modes/rvm"]
	path = modes/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "color-theme-tangotango"]
	path = color-theme-tangotango
	url = git@github.com:zickzackv/color-theme-tangotango.git
[submodule "modes/xxx"]
	path = modes/xxx
	url = http://repo.or.cz/w/org-mode.git
[submodule "modes/org-mode"]
	path = modes/org-mode
	url = git://repo.or.cz/org-mode.git
